@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-width: 10%;
  --container-height: 10%;
}

* {
  margin: 0;
  padding: 0;
}

.pongContainer {
  background-color: green;
  height: 100vh;
  width: 100vw;
  max-height: 900px;
  max-width: 1000px;
}
/* .pongHeader {
  border: 4px solid #CF0A0A;
  margin: auto;
  width: fit-content;
  border-radius: 10px;
  width: var(--container-width);
  height: 10%;
} */
.pongTable {
  /* border: 4px solid #CF0A0A; */
  margin: auto;
  width: fit-content;
  border-radius: 28px;
  /* width: var(--container-width); */
  height: 708px;
  width: 508px
}

/* button {
  width: 100%;
  height: 100%;
}
canvas {
  margin: auto;
} */
/* @media all and (orientation:portrait) {
  .pongContainer {
    background-color: green;
    height: 100vh;
    width: 100vw;
    max-height: 900px;
    max-width: 1000px;
  }
  .pongHeader {
    border: 4px solid #CF0A0A;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    width: var(--container-width);
    height: 10%;
  }
  .pongTable {
    border: 4px solid #CF0A0A;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    width: var(--container-width);
    height: 90%;
  }
}
@media all and (orientation:landscape) { 
  .pongContainer {
    background-color: blue;
    height: 100vh;
    width: 100vw;
    max-width: 1000px;
    max-height: 900px;
  }
  
  .pongHeader {
    border: 4px solid #CF0A0A;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    width: 90%;
    height: 10%;
  }
  .pongTable {
    border: 4px solid #CF0A0A;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    width: 90%;
    height: 60%;
  }
} */
